# Server settings
PORT=3001
HOST=0.0.0.0

# Environment
NODE_ENV=development
DEBUG=true
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/tirios?schema=public"

# Logging
LOG_LEVEL=info
LOG_PATH=/var/log/myapp.log
